body{
    background: url('https://i.pinimg.com/originals/e6/79/aa/e679aafc3babfaad994ffa73d7b2d9e4.jpg') no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    width: 100%;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.container2 {
    width: 100%;
    height: 150px;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #494949;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

section {
    text-align: center;
    margin-top: 10rem;
}

input {
    background-color: #494949;
    color: white;
    font-size: 36pt;
    border-color: black;
}

.btn {
    width:200px;
    height:100px;
    background: #494949;
    color: white;
    font-size: 20pt;
    border: none;
    border-radius: 5px;
}

form {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #494949;
    border: none;
    border-radius: 5px;
}

.btn1 {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: green;
}

.btn2 {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: red;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

h2 {
    text-align: center;
    font-size: 20pt;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    padding: 10px;
  }
  
td, th {
    text-align: center;
    border: 2px solid black;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #494949;
  }